src/CalculatorMathLibraryTest/.vs/CalculatorMathLibraryTest/v14/.suo
src/CalculatorMathLibraryTest/CalculatorMathLibraryTest/bin/Debug/*
src/CalculatorMathLibraryTest/packages/*
src/CalculatorMathLibraryTest/CalculatorMathLibraryTest/obj/Debug/CalculatorMathLibraryTest.csproj.FileListAbsolute.txt
*.exe
