src/CalculatorMathLibraryTest/CalculatorMathLibraryTest/bin/
src/CalculatorMathLibraryTest/packages/
src/CalculatorMathLibraryTest/CalculatorMathLibraryTest/obj/Debug/
*.exe
src/CalculatorIVS/CalculatorIVS/obj/Debug/
src/CalculatorIVS/packages/
src/CalculatorIVS/OurMathLib/bin/
src/CalculatorIVS/OurMathLib/obj/Debug/
src/CalculatorIVS/CalculatorIVS/bin/
src/CalculatorMathLibraryTest/CalculatorMathLibraryTest/obj/Debug/
*.suo
*.cache
